/*-- scss:defaults --*/

/*
$body-bg: #006f93!default;
$body-color: #fff!default;
$link-color: #e9d8a6 !default;
$input-panel-bg: #fff !default;
$code-color: #ffb703 !default;
$font-family-sans-serif: Montserrat, Arial!default; */

$body-bg: #fff!default;
$body-color: #006f93 !default;
$link-color: #023047 !default;
$input-panel-bg: #fff !default;
$code-color: #ffb703 !default;
$font-family-sans-serif: Montserrat, Arial!default;



